fastapi==0.112.0
uvicorn[standard]==0.30.5
python-multipart==0.0.9
pydub==0.25.1
edge-tts==6.1.11
deep-translator==1.11.4
jinja2==3.1.4
aiofiles==23.2.1
starlette==0.37.2
imageio-ffmpeg==0.5.1
openai==1.43.0